$menu-width: 400px;
$menu-max-height: 50vh;
$menu-background-color: #161617;
$nav-items-color: #ccc;
$menu-items-color: #eee;
$menu-items-hover-color: #fff;
$menu-content-padding: 5.5rem 0 5rem;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;

  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #000;
}

header {
  display: flex;
  justify-content: center;
}

.nav {
  position: relative;
  display: flex;
  justify-content: center;

  width: 100%;

  z-index: 1;
}

.dropdown-menu-wrapper {
  display: flex;
  justify-content: space-between;

  max-width: $menu-width;
  width: 100%;

  color: $nav-items-color;
}

.dropdown-menu {
  margin: 0;
  padding: 0;
  list-style: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(5px);
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.3s ease forwards;
}
.fade-out {
  opacity: 1;
  animation: fadeOut 0.2s ease forwards;
}

.dropdown-content {
  position: absolute;
  left: 0;
  top: 100%;

  width: 100%;
  height: auto;
  max-height: 0;
  margin: -51px 0 0;
  padding: 0;

  list-style: none;
  visibility: hidden;
  opacity: 0;
  z-index: -1;

  cursor: default;
  background-color: $menu-background-color;

  li {
    max-width: $menu-width;

    padding: 0.5rem 2rem;
    margin: 0 auto;

    opacity: 0;

    a {
      text-decoration: none;
      color: $menu-items-color;

      &:hover {
        color: $menu-items-hover-color;
      }
    }
  }
}

.visible .dropdown-content {
  max-height: $menu-max-height;
  visibility: visible;
  opacity: 1;
  padding: $menu-content-padding;
  transition: max-height 0.2s ease-out 0.2s, opacity 0.2s ease-out 0.2s;
}

.is-active .dropdown-content {
  max-height: $menu-max-height;
  visibility: visible;
  opacity: 1;
  padding: $menu-content-padding;

  li {
    opacity: 1;
  }
}

.hidden .dropdown-content {
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  padding: 0;
  transition: all 0.2s ease-in 0.1s, opacity 0.2s ease 0.2s;
}

.dropdown-trigger {
  padding: 1rem 2rem;
  cursor: pointer;
  transition: all 0.25s ease-out 0.15s;

  &:hover {
    color: $menu-items-hover-color;
  }
}

.disable-interaction,
.disable-interaction li {
  pointer-events: none;
}

#content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

  img {
    max-width: 80%;
  }
}

.dropdown-menu-backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;

  opacity: 0;
  backdrop-filter: blur(30px);
  z-index: 0;

  &.menu-is-active {
    opacity: 1;
    transition: opacity 0.2s ease 0.28s;
  }
  &.menu-is-inactive {
    transition: opacity 0.2s ease 0.15s;
  }
}
