@font-face {
  font-family: 'My font';
  font-style: normal;
  font-weight: 100 900; // Supports a range from Thin (100) to Black (900)
  font-display: swap; // Optional for better performance
  src: url('./fonts/InterTight-VariableFont_wght.woff2') format('truetype-variations');
}

$menu-width: 500px;
$menu-max-height: 50vh;
$menu-background-color: rgba(22, 22, 26, 1);
$nav-items-color: #bbb;
$nav-items-hover-color: #eee;
$menu-items-color: #ddd;
$menu-items-hover-color: #fff;
$menu-content-padding: 5.5rem 0 5rem;

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;

  font-family: 'My font', sans-serif;
  letter-spacing: 0.3px;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000;
}

/*######################################################################
  Wrapper for the UI items
#######################################################################*/

.ui-interactions-dropdown-menu {
  position: relative;
  display: flex;
  flex-direction: column;

  flex-basis: 100vh;
  width: 100%;
  flex-shrink: 0;
}

/*######################################################################
  Dropdown menu CSS
#######################################################################*/

header.dropdown-menu-header {
  display: flex;
  justify-content: center;
}

.nav {
  position: relative;
  display: flex;
  justify-content: center;

  width: 100%;

  z-index: 1;

  @media (max-width: 560px) {
    padding: 0 4%;
  }
}

.dropdown-menu-wrapper {
  display: flex;
  justify-content: space-between;

  max-width: $menu-width;
  width: 100%;

  color: $nav-items-color;
}

.dropdown-menu-item {
  margin: 0;
  padding: 0;
  list-style: none;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-3px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-5px);
  }
}

.fade-in {
  opacity: 0;
  animation: fadeIn 0.5s ease-out forwards;
}
.fade-out {
  opacity: 1;
  animation: fadeOut 0.3s ease forwards;
}

.dropdown-content {
  position: absolute;
  left: 0;
  top: 100%;

  width: 100%;
  max-height: 0;
  margin: -55px 0 0;
  padding: 0;

  font-size: 1rem;
  list-style: none;
  visibility: hidden;
  opacity: 0;
  z-index: -1;

  cursor: default;
  background-color: $menu-background-color;

  li {
    max-width: $menu-width;

    padding: 0.5rem 2rem;
    margin: 0 auto;

    font-weight: bold;
    opacity: 0;

    a {
      text-decoration: none;
      color: $menu-items-color;

      transition: all 0.3s ease;

      &:hover {
        color: $menu-items-hover-color;
      }
    }
  }
}

.visible .dropdown-content {
  max-height: $menu-max-height;
  visibility: visible;
  opacity: 1;
  padding: $menu-content-padding;
  transition: all 0.25s ease-out 0.2s;
}

.is-active .dropdown-content {
  max-height: $menu-max-height;
  visibility: visible;
  opacity: 1;
  padding: $menu-content-padding;
  transition: none;

  li {
    opacity: 1;
  }
}

.hidden .dropdown-content {
  max-height: 0;
  padding: 0;

  visibility: hidden;
  opacity: 0;

  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  transition: all 0.2s ease-in 0.1s, opacity 0.2s ease 0.2s;

  li {
    opacity: 0;
    animation: fadeOut 0.2s ease forwards;
  }
}

.dropdown-trigger {
  padding: 1.3rem 2rem 1rem;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 1s ease;

  @media (max-width: 560px) {
    padding: 1rem 0.4rem 0.6rem;
  }

  &:hover {
    color: $nav-items-hover-color;
  }
}

.disable-interaction,
.disable-interaction li {
  pointer-events: none;
}

#content1 {
  width: 100%;
  height: calc(100vh - 54px);
  overflow: hidden;

  img {
    height: 100vh;
    object-fit: cover;
    width: 100%;
  }
}

.dropdown-menu-backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;

  opacity: 0;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(20px);
  z-index: 0;

  &.menu-is-active {
    opacity: 1;
    transition: opacity 0.3s ease-in-out 0.2s;
  }
  &.menu-is-inactive {
    transition: opacity 0.3s ease 0.15s;
  }
}
